@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dorrian Horsey<br />
    We Can Code IT<br />
    <abbr title="Phone">P:</abbr>
    216-555-1212
    deardorrian@gmail.com
</address>

 